[user]
    name = Massimo Gervasini
    email = mgervasini@mozilla.com
[color]
    ui = auto

[alias]
    ci = commit -v
    br = branch
    st = status
    co = checkout
    di = diff -U8 --patch-with-stat --binary
    ap = format-patch --suffix=.diff -U8
    hgp = show --format=\"From: %an <%ae>%n%s%n%b\" -U8
    out = outgoing
    du = diff -U8 --patch-with-stat --binary --no-renames @{u}...
    in = log ..@{u}
    dn = diff --name-only

[color]
    ui = auto

[github]
    user = gerva

[diff]
    renames = copy

[core]
    excludesfile = ~/.gitglobalignore
    autocrlf = input
    safecrlf = true
